*html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 20px;
}
.container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 10px;
}
.card{
    border: 1px solid rgba(0, 0, 0, 0.304);
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    
}
.completed{
    background-color: lightgreen;
}
.pending{
    background-color: skyblue;
}
